body {
    background-color: rgb(249, 249, 252);
}

h1 {
    color: rgb(141, 16, 16);
    margin-left: 80px;
}

img {
    margin-left: 80px;
    border-radius: 5%;
}

h4 {
    font-style: italic;
    color: rgb(8, 8, 8);
    margin-left: 110px;
}
