.recipe-ingredients .heading__h2, .recipe-ingredients .heading__h2--gutters, .recipe-ingredients .heading__h2--no--gutters {
    min-height: 58px;
    padding: 0.8rem 1% 0.7rem;
}

.recipe-ingredients__header {
    position: relative;
}

.heading__h2--gutters {
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.heading__h2, .heading__h2--gutters, .heading__h2--no--gutters, .lo-container--slider h2 {
    font-size: 3.5rem;
    border-bottom: 1px solid #e6e6e6;
    clear: both;
    color: #ec9052;
    font-weight: 300;
    margin-top: 1rem;
    padding: 0.75rem 3% 0.8rem;
    width: 100%;
}
ol{
	list-style-type: none;
	counter-reset: item;
}

ol.list-numbers li {
	margin-left: 2rem;
    margin: 0 0 0.5rem 12.35rem;
}
.recipe-directions__list li::before {
    font-size: 18px;
    font-size: 1.125rem;
    border: 1px solid #cfcfcf;
    color: #cfcfcf;
    content: counter(item) !important;
    counter-increment: item;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: scale(0.8);
}
.recipe-directions__list li::before {
    font-size: 20px;
    font-size: 1.25rem;
    transform: scale(1);
}
ol.list-numbers li::before {
    color: #b3b3b3;
    content: counter(item) ". ";
    counter-increment: item;
    margin: 0 0 0.5rem -1.5rem;
    position: absolute;
}
.input-circle, .recipe-directions__list li::before {
    border: solid 1px #cfcfcf;
    border-radius: 50%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 42px;
}

.directions--section__steps {
    display: inline-block;
    vertical-align: top;
    width: 66%;
}
.recipe-directions__list--item {
    display: block;
    margin-left: 40px;
}
.recipe-directions__list li {
    font-size: 18px;
    font-size: 1.125rem;
}
.recipe-directions__list li {
    float: left;
    line-height: 24px;
	padding-bottom: 1.125rem;
	line-height: 26px;
    position: relative;
    width: 100%;
}

.prepTime {
	margin-left: 16px;
    clear: both;
    float: left;
    margin: 14px 5% 1rem 12px;
    width: 90%;
}
ul {
	display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.prepTime__item:first-child {
    border-right: none;
    margin-right: -6px;
    padding: 0;
    width: 42px;
}
.prepTime__item {
    border-right: solid 1px #e6e6e6;
    color: #999;
    float: left;
    line-height: 1.5rem;
    padding: 0 0.25rem;
    text-align: center;
    width: 80px;
}